<h2>Настройки обратной связи</h2>

<%= form_tag({ controller: 'settings', action: 'plugin', id: 'redmine_feedback' }, method: :post) do %>
  <div class="box tabular">
    <p>
      <label>Поле для оценки поддержки</label>
      <% field = IssueCustomField.find_by(id: @settings['feedback_custom_field_id']) %>
      <% if field %>
        <span style="color: green;">
          <%= field.name %> (ID: <%= field.id %>)
        </span>
      <% else %>
        <span style="color: orange;">
          Поле не создано
          <%= link_to 'Создать поле', '#', onclick: 'createFeedbackField(); return false;', class: 'icon icon-add' %>
        </span>
      <% end %>
    </p>
    
    <p>
      <label>Текст ссылки</label>
      <%= text_field_tag 'settings[feedback_link_text]', @settings['feedback_link_text'], size: 50 %>
      <em>Текст для макроса {{feedback_link}}</em>
    </p>
  </div>
  
  <fieldset class="box">
    <legend>Доступные макросы</legend>
    <p>
      <strong>{{feedback_link}}</strong><br />
      Вставляет ссылку на форму оценки в задаче
    </p>
  </fieldset>
  
  <%= submit_tag 'Сохранить' %>
<% end %>

<script type="text/javascript">
function createFeedbackField() {
  if (confirm('Создать поле "Оценка поддержки" для всех трекеров?')) {
    var form = document.createElement('form');
    form.method = 'POST';
    form.action = '<%= url_for(controller: "feedback", action: "create_custom_field") %>';
    
    var token = document.createElement('input');
    token.type = 'hidden';
    token.name = 'authenticity_token';
    token.value = '<%= form_authenticity_token %>';
    
    form.appendChild(token);
    document.body.appendChild(form);
    form.submit();
  }
}
</script>
