<h2><%= l(:label_feedback_settings) %></h2>

<%= form_tag({ controller: 'settings', action: 'plugin', id: 'redmine_feedback' }, method: :post) do %>
  <div class="box tabular">
    <p>
      <label><%= l(:label_feedback_link_text) %></label>
      <%= text_field_tag 'settings[feedback_link_text]', @settings['feedback_link_text'], size: 50 %>
      <em><%= l(:text_feedback_link_text_info) %></em>
    </p>
    
    <p>
      <label><%= l(:label_feedback_custom_field) %></label>
      <% field_id = @settings['feedback_custom_field_id'] %>
      <% fields = IssueCustomField.where(field_format: 'string').or(IssueCustomField.where(field_format: 'list')).map { |f| [f.name, f.id] } %>
      <%= select_tag 'settings[feedback_custom_field_id]', options_for_select(fields, field_id), include_blank: true %>
      <em>Выберите поле для хранения оценки</em>
    </p>
  </div>
  
  <fieldset class="box">
    <legend><%= l(:label_available_macros) %></legend>
    <p>
      <strong>{{feedback_link}}</strong><br />
      <%= l(:text_feedback_macro_usage) %>
    </p>
  </fieldset>
  
  <%= submit_tag l(:button_save) %>
<% end %>
