<h2><%= l(:label_feedback_title) %></h2>

<% if @existing_feedback.present? %>
  <div class="flash warning">
    <%= l(:notice_already_voted, rating: rating_text_for(@existing_feedback)) %>
    <p><%= l(:text_resubmit_warning) %></p>
  </div>
<% else %>
  <div class="flash notice">
    <%= l(:notice_feedback_new) %>
  </div>
<% end %>

<%= form_tag feedback_submit_path(@issue.id, token: params[:token]), method: :post, class: 'feedback-form' do %>
  <div class="box">
    <p>
      <label><%= l(:label_feedback_rating) %></label>
      <span class="rating-options">
        <label><%= radio_button_tag 'rating', 'good', (@existing_feedback == 'Хорошо') %> <%= l(:label_good) %></label>
        <label><%= radio_button_tag 'rating', 'okay', (@existing_feedback == 'Нормально') %> <%= l(:label_okay) %></label>
        <label><%= radio_button_tag 'rating', 'bad', (@existing_feedback == 'Плохо') %> <%= l(:label_bad) %></label>
      </span>
    </p>
    <p>
      <%= label_tag :comment, l(:field_comment) %>
      <%= text_area_tag :comment, @existing_comment, rows: 5, style: 'width: 100%; max-width: 600px;' %>
    </p>
  </div>
  <p><%= submit_tag l(:button_submit), class: 'button-positive' %></p>
<% end %>
